body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.encabezado {
  background-color: rosybrown;
  color: #fff;
  padding: 3rem 0;
  text-align: center;
  position: relative;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

#titulo {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rosybrown;
}

.nav-item {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.container-portada {
  display: flex;
  justify-content: start;
  padding: 1rem;
}

#foto-portada {
  max-width: 100%;
  max-height: 50vh;
}

main {
  padding: 3rem;
}

section {
  margin-bottom: 3.5rem;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
}

.galeria figure {
  margin: 2rem;
  /* width: calc(33.333% - 1rem); */
}

.galeria img {
  width: 100%;
  height: auto;
  display: block;
}

.contacto {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}
